recursive-include MgaRepo *.py
include MgaRepo/plugins/*.txt
include mgarepo mgarepo.conf MANIFEST.in 
include mgarepo.8
include README
include CHANGES
include README.LDAP
include mgarepo-example.conf
include *.chlog
include create-srpm mgarepo-ssh
