recursive-include RepSys *.py
include RepSys/plugins/*.txt
include repsys repsys.conf MANIFEST.in 
include repsys.8
include CHANGES
include README.LDAP
include repsys-example.conf
include *.chlog
include rebrand-mdk create-srpm getsrpm-mdk
