recursive-include RepSys *.py
include RepSys/plugins/*.txt
include repsys repsys.conf MANIFEST.in 
include repsys.8
include README
include CHANGES
include README.LDAP README.BINREPO
include repsys-example.conf
include create-srpm repsys-ssh
include youridb.sql
include bash-completion/repsys
